.toppannel {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover,
nav .active {
    color: #f10f40;
}

.dishes {
    padding: 20px;
}

.category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish {
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    transition: border 0.3s;
}
/**//*.title-order {
     text-align: center;
     width: 100%;
 }
 .form-order {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }
 fieldset {
     border: none;
     padding: 20px;
     margin: 10px;
     width: 45%;
     flex: 1;
 }
.fs-data{
    margin-left: auto;
 }
.fs-order{
    margin-right: auto;
}
 legend {
     font-weight: bold;
 }
 form {
     display: flex;
     flex-direction: column;
 }
.bt-form {
     margin-top: 10px;
 }*/
.form-order {
    display: flex;
     justify-content: space-between;
     margin-top: 20px;
    padding: 20px;
}

.title-order {
    text-align: center;
    color: #333;
    margin-bottom: 32px;
}

.form-container {
    display: flex; /* Use flexbox for columns */
    gap: 20px; /* Space between columns */
}

fieldset {
    border: none;
    padding: 15px;
}
form{
    width: 45%;
}
legend {
    font-size: 18px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="time"],
select,
textarea {
    width: 100%; /* Full width for inputs */
    padding: 10px; /* Inner padding */
    margin-bottom: 15px; /* Space below inputs */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px; /* Space right of checkbox/radio */
}

input[type="checkbox"] {
    display: inline-block; /* Inline for checkbox */
}

.order{
    margin-top: 60px;
}
.bt-form {
    width: 40%;
    background-color: #f1eee9;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px; 
    margin-inline: 20px;
}

#bt-form-send:hover {
    background-color: #128c07;
    color: white;
}
#bt-form-reset:hover {
    background-color: #f10f40;
    color: white;
}

h1 {
    color:#333;
    text-align: center;
}

.dish img {
    width: 100%;
    border-radius: 35px;
    height: 200px;
}

.dish:hover {
    border: 2px solid #f10f40;
}

.dish-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.dish:hover .add-button{
    background-color: #f10f40;
    color: white;
}
button.add-button {
    width: 100%;
    background-color: #f1eee9;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.dish-title {
    font-size: 18px;
    margin: 10px 0;
}

.dish-price {
    font-size: 18px;
}

.dish-weight {
    color: #333;
}

@media (max-width: 800px) {
    .category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
    }
    .toppannel b{
        width: 0px;
        visibility: hidden;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        font-size: calc(1rem + 2px);
    }

    h2 {
        text-align: center;
    }

    .category {
        grid-template-columns: 1fr;
    }
}
