.toppannel {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover,
nav .active {
    color: #f10f40;
}

.dishes {
    padding: 20px;
}

.category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish {
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    transition: border 0.3s;
}

.dish h2 {
    margin: 0 0 10px;
}
h1 {
    color:#333;
}

.dish img {
    width: 100%;
    border-radius: 35px;
    height: 200px;
}

.dish:hover {
    border: 2px solid #f10f40;
}

.dish-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.dish:hover .add-button{
    background-color: #f10f40;
    color: white;
}
button.add-button {
    width: 100%;
    background-color: #f1eee9;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.dish-title {
    font-size: 18px;
    margin: 10px 0;
}

.dish-price {
    font-size: 18px;
}

.dish-weight {
    color: #333;
}

@media (max-width: 800px) {
    .category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
    }
    .toppannel b{
        width: 0px;
        visibility: hidden;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        font-size: calc(1rem + 2px);
    }

    h2 {
        text-align: center;
    }

    .category {
        grid-template-columns: 1fr;
    }
}
