.toppannel {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    width: 100%; /* Обеспечивает распределение на всю ширину */
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover,
nav .active {
    color: #f10f40;
}

.dishes {
    padding: 20px;
}

.category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish {
    border: 2px solid white;
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    transition: border 0.3s;
}
.dish-active {
    color: white;
    border: 2px solid #f10f40;
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    transition: border 0.3s;
}
.dish:hover {
    border: 2px solid #f10f40;
}

.dish img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 35px;
}

.dish-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.add-button {
    width: 100%;
    background-color: #f1eee9;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.title-order {
    text-align: center;
    color: #333;
    margin-bottom: 32px;
}.form-order {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}
#hiddenAction{
    display: none;
}
form{
    width: 100%;
}
fieldset {
    border: none;
    width: 48%;
}
legend {
    font-size: 18px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;

}
#summaryPrice{
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="time"],
select,
textarea {
    width: 100%; /* Полная ширина для полей ввода */
    padding: 10px; /* Внутренний отступ */
    margin-bottom: 15px; /* Пробел ниже полей ввода */
    border: 1px solid #ccc; /* Светлый серый край */
    border-radius: 4px; /* Закругленные углы */
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px; /* Пробел справа от чекбокса/радио */
}

.order {
    margin-top: 60px;
}

.bt-form { width: 40%;
 background-color: #f1eee9; 
 padding: 10px 30px; 
 border: none; 
 border-radius: 
 10px; cursor: pointer;
  font-size: 16px; 
  margin: 10px; 
}

#bt-form-send:hover {
    background-color: #128c07;
    color: white;
}
#bt-form-reset:hover {
    background-color: #f10f40;
    color: white;
}

h1 {
    color: #333;
    text-align: center;
}

.dish:hover .add-button {
    background-color: #f10f40;
    color: white;
}

.dish-title {
    font-size: 18px;
    margin: 10px 0;
}

.dish-price {
    font-size: 18px;
}

.dish-weight {
    color: #333;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.chip {
    background-color: #d5d5d5;
    border: none;
    color: #d5d5d5;
    padding: 8px 16px;
    margin: 4px;
    border-radius: 20px;
    cursor: pointer;
}
.chip-active {
    background-color: #f10f40;
    border: none;
    color: #434343;
    padding: 8px 16px;
    margin: 4px;
    border-radius: 20px;
    cursor: pointer;
}

.chip:hover {
    background-color: #128c07;
    color: white;
}

@media (max-width: 800px) {
    .category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .toppannel b {
        width: 0px;
        visibility: hidden;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    nav a {
        font-size: calc(1rem + 2px);
    }
    nav ul {
        justify-content: space-between; /* Обеспечивает равномерное распределение */
    }
}

@media (max-width: 600px) {
    .toppannel b {
        width: 0px;
        visibility: hidden;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
        width: 100%;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        text-decoration: none;
        color: #333;
        font-size: calc(1rem + 2px);
        
    }

    nav a:hover,
    nav .active {
        color: #f10f40;
    }

    h2 {
        text-align: center;
    }

    .category {
        grid-template-columns: 1fr;
    }
}
